
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main { background-color: rgb(199, 215, 231);
    padding: 30px;
}

header {
    background-color: #251a8b;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: snow;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #251a8b;
    padding: 10px;
    color: snow;
}
img {
    height:200px;
    cursor:pointer;
}
.image {
    size: 170px;
    flex: content;
    align-items: center;
    margin : 6px;
    border: solid;
    border-radius: 30px;
    column-count: 3;
}
/* .lion {
    
} */